<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MyApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MyApp.styles.css" asp-append-version="true"/>
</head>
<body>
<div id="page-container">
    <header>
        <div id="page-header">
            <div id="logo-header">
                <img src="https://fusionauth.io/assets/img/samplethemes/changebank/changebank.svg"/>
                <div class="h-row">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p class="header-email">@User.Claims.FirstOrDefault(c => c.Type == "email").Value.ToString()</p>
                        <a class="button-lg" asp-area="" asp-page="/Logout">Logout</a>
                    }
                    else
                    {
                        <a class="button-lg" asp-area="" asp-page="/Account">Login</a>
                    }
                </div>
            </div>
        </div>
    </header>
    
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</div>
</body>
</html>