@page
@model MyApp.Pages.AccountModel
@{
}


<div id="menu-bar" class="menu-bar">
    <a class="menu-link" style="text-decoration-line: underline;">Account</a>
    <a class="menu-link" asp-area="" asp-page="/MakeChange">Make Change</a>
</div>


<div style="flex: 1;">
    <!-- Application page -->
    <div class="column-container">
        <div class="app-container">
            <h3>Your balance</h3>
            <div class="balance">$0.00</div>
        </div>
    </div>
</div>


